@import "../node_modules/bootstrap/scss/bootstrap";
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Inclusive+Sans&family=Montserrat:wght@500&family=Noto+Sans+Symbols:wght@400;600&family=Open+Sans&family=Oswald:wght@200&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #1c1c1c;

}